body {
    color: #333;
    font-family: 'Oxygen', sans-serif;
}
a {
    color: #00a9c6;
    text-decoration: none;
}
a:hover {
    color: #666;
}
.btn, a, .btn:hover, a:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: none !important;
}
h1, h2, h3, h4 {
    margin: 0;
    line-height: 1em;
}
h1 {
    font: 700 5em Roboto, Arial, Helvetica;
    margin: 0.25em 0;
    text-transform: uppercase;
}
h2 {
    font: 300 2.5em Roboto, Arial, Helvetica;
    margin-bottom: 1.5em;
}
h3 {
    font: 300 2em Roboto, Arial, Helvetica;
    margin: 2em 0 1em 0;
    color: #00a9c6;
}
h4 {
    font: 300 1.5em Roboto, Arial, Helvetica;
    margin-bottom: 1em;
}
h4 i {
    margin-right: 0.5em;
}

/*paragraaf styles*/
p {
    font-size: 1em;
    line-height: 1.7em;
    margin-bottom: 1.7em;
}

.pBottom {
    margin-bottom: 2em;
}

.pColor{
    color: #00a9c6;
}
.pSpace {
    margin-top: -3em;
}

.pSpaceBig {
    margin-top: 5em;
}

/*carousel img style*/
#carousel .item{
  margin: 3px;
}
#carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}

/*Logo Navbar*/
.logo {
    position: absolute;
    left: 4em;
}

h1.logoMobiel {
    display: none;
}

h1.logoScherm {
    font-size: 24px;
    margin-left: 4px;
    color: #fff;
    margin-bottom: -22px;   
}

h1.logoScherm2 {
    font-size: 41px;
    color: #fff;
    margin-bottom: -1em;
}

.botLine {
    border: 1px solid white;
    border-left: 1em;
    border-right: 1em;
    border-top: 1em;
}

.spacer {
    padding: 6em 0;
}

.top {
    padding-top: 1em;
}

.img-thumb{
    margin-top: 1em;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    }    
    
.img-center{
    text-align: center;
    width: 100%;
}

/*hr styles*/
.hrContact {
    margin-top: -1.8em;
    width: 70%;
    margin-left: 1px;
    color: #96CDCD;
}
.hrLinks {
    margin-top: -1.8em;
    color: #96CDCD;
}

.topbar {
    background: url(../images/line.png);
    height: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.navbar-nav > li > a {
    font-size: 1em;
    line-height: 3.6em;
}
.navbar img {
    width: 70%;
    margin-top: -1em;
}
.navbar-fixed-top {
    top: 5px;
}
.navbar-inverse {
    background: #0A3B47;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background: none;
    color: #96CDCD;
}
#head, .carousel {
    margin-top: 0;
}
#home {
    padding-top: 8em;
    padding-left: 1em;
}

.btn:hover,
.btn:active {
    color: #fff;
}
.btn-default {
    color: #ccc;
    border: 1px solid #aaa;
}
/*contact*/

.contact {
    margin-top: 3em;
}
.contactTop {
    display: inline-block;
    float: left;
    margin-right: -1.5em;
}
.contactMid {
    padding-left: 9em;
    margin-top: 3em;
}
.contactBot {
    margin-top: -1.5em;
    display: inline-block;
    float: left;
    margin-right: 16.8em;
}

.contactBot a {
    color: #000;
}

.contactform textarea,
.contactform input {
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    margin-bottom: 1em;
    border-radius: 0;
    outline: none;
}

.btn {
    border: none;
    border-radius: 0;
    padding: 1em 4em;
    background: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.btn-default:hover,
.btn-default:active {
    background: rgba(0, 0, 0, 0.8);
}
.btn-primary {
    color: #fff;
    background: #96CDCD;
    width: 100%;
    outline: none;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background: #0084FF;
    box-shadow: none;
}

.item:hover img {
    
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.footer {
    background-color: #0A3B47;
    color: #fff;
    font-size: 1em;
    color: #aaa;
}
.footer a {
    color: #aaa;
    margin: 0 1em;
}

.copyright a {
    color: #fff;
    margin: 0;
}
.fa:hover {
    color: #96CDCD;
}
.scrollToTop {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: #fff;
}
.scrollToTop i {
    line-height: 0.5em;
}

.scrollToTop:hover {
    color: #96CDCD;
}

@media (max-width: 1200px) {
    body {
        font: 300 13px/13px Roboto, Arial, Helvetica;
    }
    
    .logo {
    position: absolute;
    left: 2em;
}
    .img-thumb{
        max-width: 50%;
        margin-left: -2em;
    }
    .contactMid {
    padding-left: 9em;
    margin-top: 3em;
}
    
    h1.logoScherm {
    font-size: 23px;
    color: #fff;
    margin-bottom: -22px;   
}
    
    h1.logoScherm2 {
        font-size: 41px;
        margin-bottom: -2.7em;
        color: #fff;
}
    
    .contactTop {
    margin-right: -3em;
}
    
    .navbar-brand {
        padding-top: 11px;
    }
}
@media (max-width: 900px) {
    h1 {
        font: 700 3.5em Roboto, Arial, Helvetica;
    }
    h4 {
        font: 300 1.3em Roboto, Arial, Helvetica;
    }
    
    .img-thumb{
        max-width: 50%;
        margin-left: -3em;
    }

    h1.logoTekst {
        display: none;
}
    
    h1.logoTekst2 {
        margin-bottom: -2.7em;
        padding: .1em;
        color: #fff;
}
    .contactTop {
    margin-right: -7.5em;
}
    
    .btn {
        padding: 1em 2em;
    }
}
@media (max-width: 767px) {
    body {
        font: 300 12px/12px Roboto, Arial, Helvetica;
    }
    
    .img-thumb{

        margin-left: 1em;
    }
    
    h1.logoScherm {
        display: none;
}
    h1.logoScherm2 {
        display: none;
}
    
    h1.logoMobiel {
        display: block;
        font-size: 17px;
        margin-left: .4em;
        margin-bottom: -2.7em;
        padding: .5em;
        color: #fff;
}
    .contactBot {
        margin-top: 1em;
        margin-right: 10em;
    }
    
    .navbar-nav > li > a {
        line-height: 1em;
    }
    .navbar-brand {
        padding: 7px;
    }
    .navbar-brand img {
        height: 37px;
    }
    .navbar-toggle {
        margin-top: 12px;
    }
    h2.text-center {
        text-align: left;
        font-size: 1.7em;
    }
    h4 {
        font: 300 1.2em Roboto, Arial, Helvetica;
    }
    #home {
        padding-top: 5em;
    }
    
    .top{
        padding-top: 2em;
        padding-bottom: -.5em;
    }
    .spacer {
        padding: 2em 0 0 0;
    }
    .footer {
        margin-top: 2em;
        padding-bottom: 2em;
    }
}